@import url('https://fonts.googleapis.com/css?family=Montserrat:light,medium,bold,extrabold,&effect=anaglyph&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}



/* App */
.app {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 20px;
    min-height: 100vh;
}

/* Header */
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: orange;
    padding: 15px;
    z-index: 9999;
}

.nav-bar .brand-name {
    font-family: 'McLaren';
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

.access-form {
    display: flex;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}

.access-form button {
    display: inline-block;
    min-width: 90px;
    height: 100%;
    padding: 8px;
    background-color: orange;
    color: white;
    font-weight: 600;
}

/* Content */

/* Note */
.notes-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 90px 20px 20px 20px;
}

.home .add-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 15px 18px;
    background-color: orangered;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 3px 3px;
    border-radius: 40%;
}

.note-item {
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 200px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    word-wrap: break-word;
}

.note-item h2 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 1.1rem;
    padding: 5px;
    min-width: 100%;
}

.note-item p {
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    white-space: pre-line;
}

.note-item button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: white;
    color: orangered;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px 0px 10px 0;
}


/* add-form */
.add-form-container {
    margin: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.add-form {
    display: flex;
    min-height: 60%;
    max-height: 40%;
    flex-direction: column;
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.add-form input, textarea {
    margin: 15px;
    padding: 5px;
    font-size: 1rem;
    border-bottom: 2px solid orangered;
}


.add-form button {
    margin: 10px;
    padding: 10px;
    width: 50%;
    position: absolute;
    bottom: 0;
    align-self: center;
    background-color: orangered;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
    color: #666;
}
button:hover {
    cursor: pointer;
    filter: brightness(95%)
}
input:focus, textarea:focus {
    outline: none;
}


/* /////////////////////////////////////////////////////////////// */


/* Contact Card */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    min-width: 400px;
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #aaa;
    margin: 30px 10px;
    min-height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}

.card .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #666;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.card .name {
    font-size: 2em;
    color: white;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}

.card img {
    margin: 20px 20px 0 0;
}

.card .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
}

.card .bottom {
    margin-top: 100px;
}

.card .info {
    padding: 0 10px 0 10px;
    color: #eee;
}

/* modal */
.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    align-self: center;
    min-width: 50vw;
    min-height: 30vh;
    background-color: white;
    border-radius: 20px 20px 0 0;
}